@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

.topicsColumn h2,
.specialitiesColumn h2 {
  margin-top: 0;
}

.topicsColumn {
  margin-bottom: utils.rem(spacing.$large);

  @include media-queries.mq($from: md) {
    padding-right: utils.rem(spacing.$x-large) !important;
  }
}

.specialitiesColumn {
  @include media-queries.mq($from: md) {
    padding-left: utils.rem(spacing.$x-large) !important;
    border-left: utils.rem(spacing.$xx-small) solid colours.$border;

    ol {
      margin-top: utils.rem(spacing.$large); // To align with the left column
    }
  }
}

.showAtMD {
  display: none !important;

  @include media-queries.mq($from: md) {
    display: block !important;
  }
}
