@import '~@nice-digital/nds-core/scss/core.scss';
@import '~@nice-digital/design-system/scss/helpers/_helpers-visibility.scss';

.topicsColumn {
  @include mq($from: md) {
    padding-right: rem($nds-spacing-x-large) !important;
  }
}

.specialitiesColumn {
  @include mq($from: md) {
    padding-left: rem($nds-spacing-x-large) !important;
    border-left: 3px solid $nds-colour-border;
  }
}

.showAtMD {
  @extend .hide-xs;
  @extend .show-md;
}
