@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.topics {
  list-style: none;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

.letter {
  margin-bottom: utils.rem(spacing.$large);
}

.letterHeading {
  @include typography.font-size(h4);
  background: colours.$alphabet-letter-background;
  border: 1px solid colours.$border;
  font-weight: 900;
  margin: 0;
  max-width: 100%;
  padding: utils.rem(spacing.$small spacing.$medium);

  &:focus {
    outline: none;
  }
}
