@import '~@nice-digital/nds-core/scss/core';

.static {
  width: 100%;
  position: absolute;
  transform: translateY((-(rem($nds-spacing-medium))));
}

.fixed {
  padding: rem($nds-spacing-medium) 0;
  width: 100%;
  background: $nds-colour-nice-grey-3;
  border-top: 1px solid #bcbcbc;
  bottom: 0;
  position: fixed;
  z-index: 1;
}

// This is necessary to prevent the Back To Top anchor from overlapping the main footer
.backToTopSpacing {
  padding-bottom: rem($nds-spacing-x-large);
}
