@import '~@nice-digital/nds-core/scss/core';

$back-to-top-height: rem(
  $nds-spacing-medium * 3
); // Line height + bottom and top padding

.wrapper {
  margin-top: rem($nds-spacing-x-large);
}

.nav {
  background: $nds-colour-nice-grey-3;
  border-top: 1px solid $nds-colour-border;
  width: 100%;
  z-index: 1;
}

.anchor {
  display: block;
  line-height: rem($nds-spacing-medium);
  padding: rem($nds-spacing-medium) 0;

  svg {
    transition: all 0.25s ease;
  }

  &:hover {
    background: $nds-colour-body;

    svg {
      transform: translateY(-#{rem($nds-spacing-xx-small)});
    }
  }
}

@supports (position: sticky) {
  .wrapper {
    bottom: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 100vh;
    width: 100%;
    z-index: 99;
  }

  .nav {
    position: sticky;
    pointer-events: all;
    top: calc(100vh - #{$back-to-top-height});
    background: $nds-colour-nice-grey-3;
    border-top: 1px solid $nds-colour-border;
    width: 100%;
    z-index: 1;
  }
}
