@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

.wrapper {
  // Bit of a horrible rule, but it allows us to have the correct spacing
  > :global(.visually-hidden):first-child + * > :first-child {
    margin-top: 0;
  }

  // To avoid the black border when using hash links: https://stackoverflow.com/a/6203344/486434
  h2:focus,
  h3:focus,
  h4:focus,
  h5:focus,
  h6:focus {
    outline: 0 !important;
  }
}

.details {
  border: 1px solid colours.$border;
  margin-top: utils.rem(spacing.$medium);
  max-width: 66ch;
  padding: utils.rem(spacing.$medium);

  &[open] {
    summary {
      margin-bottom: utils.rem(spacing.$medium);

      &:after {
        content: 'Hide';
      }
    }

    svg {
      transform: scaleY(-1);
    }
  }

  summary {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    &::marker,
    &::-webkit-details-marker {
      display: none;
    }

    :global(.h4) {
      flex: 1 1 100%;
      margin-bottom: utils.rem(spacing.$small);
      margin-top: 0;
    }

    svg {
      display: none;
      margin-right: utils.rem(spacing.$small);
    }

    // Hack for IE11 whilst we still support it: https://css-tricks.com/two-issues-styling-the-details-element-and-how-to-solve-them/
    @supports not (-ms-ime-align: auto) {
      cursor: pointer;

      svg {
        display: block;
      }

      &:focus {
        @include focus.default-focus-style;
      }

      &:focus:not(:focus-visible) {
        outline: none;
      }

      &:focus-visible {
        @include focus.default-focus-style;
      }

      &:after {
        color: colours.$link;
        content: 'Show';
        text-decoration: underline;
      }

      &:hover,
      &:hover:after {
        color: colours.$link-hover;
      }
    }
  }
}

.body {
  overflow-wrap: break-word;

  > :last-child {
    margin-bottom: 0;
  }
}
