@import '~@nice-digital/nds-core/scss/core.scss';

@include mq($from: sm) {
  .wrapper {
    @include nds-clearfix;
  }

  .menu {
    float: left;
    width: calc(#{percentage(1 / 4)} - #{rem($nds-spacing-small)});
  }

  .body {
    float: right;
    width: calc(#{percentage(3 / 4)} - #{rem($nds-spacing-small)});
  }
}
