@import '~@nice-digital/nds-core/scss/core.scss';

.wrapper {
  position: relative;
}

.printBtn {
  @include nds-link-default;
  appearance: none;
  background: none;
  border: 0;
  bottom: 100%;
  cursor: pointer;
  display: none;
  padding: 0;

  svg {
    @include nds-font-size(2);
    color: $nds-colour-nice-rich-black;
    margin-right: rem($nds-spacing-small);
    vertical-align: text-bottom;
  }

  &:hover svg {
    color: $nds-colour-link-hover;
  }
}

.menu {
  grid-area: menu;
}
.body {
  grid-area: body;
}
.onThisPage {
  grid-area: onThisPage;
}

@include mq($from: sm) {
  .wrapper {
    @include nds-clearfix;
  }

  .menu {
    float: left;
    margin-right: rem($nds-spacing-medium);
    width: calc(#{percentage(3 / 12)} - #{rem($nds-spacing-small)});
  }

  .onThisPage {
    float: right;
    width: calc(#{percentage(9 / 12)} - #{rem($nds-spacing-small)});
  }

  .body {
    float: left;
    width: calc(#{percentage(9 / 12)} - #{rem($nds-spacing-small)});
  }

  @supports (display: grid) {
    .wrapper {
      column-gap: rem($nds-spacing-medium);
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: auto;
      grid-template-areas: 'menu onThisPage' 'menu body';

      .menu,
      .onThisPage,
      .body {
        margin: 0;
        width: auto;
      }
    }
  }
}

@include mq($from: md) {
  .printBtn {
    display: block;
    margin-bottom: rem($nds-spacing-x-large);
    position: absolute;
    right: 0;
  }

  .menu {
    margin-right: rem($nds-spacing-large);
    width: calc(#{percentage(3 / 12)} - #{rem($nds-spacing-medium)});
  }

  .onThisPage {
    width: calc(#{percentage(2 / 12)} - #{rem($nds-spacing-medium)});
  }

  .body {
    width: calc(#{percentage(7 / 12)} - #{rem($nds-spacing-large)});
  }

  @supports (display: grid) {
    .wrapper {
      column-gap: rem($nds-spacing-large);
      grid-template-columns: 3fr 7fr 2fr;
      grid-template-areas: 'menu body onThisPage';
    }

    .menu,
    .onThisPage,
    .body {
      margin: 0;
      width: auto;
    }
  }
}

@media print {
  .printBtn,
  .menu,
  .onThisPage {
    display: none;
  }

  .body {
    width: 100%;
  }
}
