<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<urlCompression doDynamicCompression="true" />
		<httpCompression>
			<dynamicTypes>
				<!-- JSON files aren't dynamically compressed by default but we serve them through .NET Core -->
				<add mimeType="application/json" enabled="true" />
			</dynamicTypes>
		</httpCompression>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<security>
			<requestFiltering removeServerHeader="true" />
		</security>
	</system.webServer>
</configuration>
