<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<httpErrors errorMode="Detailed" />
		<staticContent>
			<!-- IIS returns a 404 for extensions it doesn't know about so we have to add webmanifest -->
			<mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
			<!-- Make sure we have the correct JSON mime type, ie not text/json or anything -->
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent>
		<rewrite>
			<allowedServerVariables>
				<add name="HTTP_ACCEPT_ENCODING" />
			</allowedServerVariables>
			<rules>
				<!--
					A 'hack' for IIS < 1803 (e.g. on Windows Server 2016) to make brotli compression prioritised over gzip.
					See https://docs.microsoft.com/en-us/iis/extensions/iis-compression/using-iis-compression#before-iis-100-version-1803
				-->
				<rule name="Prioritize Brotli">
					<match url=".*" />
					<conditions>
						<add input="{HTTP_ACCEPT_ENCODING}" pattern="\bbr(?!;q=0)\b" />
					</conditions>
					<serverVariables>
						<set name="HTTP_ACCEPT_ENCODING" value="br" />
					</serverVariables>
				</rule>
				<!-- Route static files into the wwwroot folder directly -->
				<rule name="wwwroot-static" stopProcessing="true">
					<match url="(.*\.[^.]+)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_URI}" pattern="^/api" negate="true" />
					</conditions>
					<action type="Rewrite" url="wwwroot/{R:1}" />
				</rule>
				<!-- Route root folders to index.html files -->
				<rule name="wwwroot-index-html" stopProcessing="true">
					<match url="^([^\/]*)\/?$" />
					<conditions>
						<add input="{REQUEST_URI}" pattern="^/api" negate="true" />
					</conditions>
					<action type="Rewrite" url="wwwroot/{R:1}/index.html" />
				</rule>
			</rules>
			<outboundRules>
				<!-- Add cache headers for static files as per Gatsby's static file caching https://www.gatsbyjs.com/docs/caching/ -->
				<rule name="no-cache-static-files" preCondition="is-no-cache-file" stopProcessing="true">
					<match serverVariable="RESPONSE_CACHE-CONTROL" pattern=".*" />
					<action type="Rewrite" value="public,must-revalidate,max-age=30" />
				</rule>
				<rule name="long-cache-static-files" preCondition="is-long-cache-file" stopProcessing="true">
					<match serverVariable="RESPONSE_CACHE-CONTROL" pattern=".*" />
					<action type="Rewrite" value="public,immutable,max-age=31536000" />
				</rule>
				<preConditions>
					<preCondition name="is-no-cache-file" logicalGrouping="MatchAny">
						<add input="{REQUEST_FILENAME}" pattern=".*\.(?:json|html)$" />
						<add input="{REQUEST_FILENAME}" pattern="wwwroot\\sw\.js$" />
					</preCondition>
					<preCondition name="is-long-cache-file" logicalGrouping="MatchAny">
						<add input="{REQUEST_FILENAME}" pattern=".*\.(?:css|js)$" />
						<add input="{REQUEST_FILENAME}" pattern="wwwroot\\static\\.*$" />
					</preCondition>
				</preConditions>
			</outboundRules>
		</rewrite>
		<!-- The only 'dynamic' route is the search API endpoint, so we'll just use static compression -->
		<urlCompression doDynamicCompression="false" doStaticCompression="true" />
		<httpCompression minFileSizeForComp="512">
			<!-- Static files are cached so use highest compression levels -->
			<scheme name="br" dll="%ProgramFiles%\IIS\IIS Compression\iisbrotli.dll" staticCompressionLevel="11" />
			<scheme name="gzip" dll="%ProgramFiles%\IIS\IIS Compression\iiszlib.dll" staticCompressionLevel="5" />
			<staticTypes>
				<add enabled="true" mimeType="application/json"/>
				<add enabled="true" mimeType="application/json; charset=utf-8" />
			</staticTypes>
		</httpCompression>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<security>
			<!-- TODO: Reinstate removeServerHeader when we've upgraded to IIS 10 in production -->
			<!-- <requestFiltering removeServerHeader="true" /> -->
		</security>
		<handlers>
			<!-- Serve static files straight from IIS, rather than through .NET Core as it's faster
			as per https://weblog.west-wind.com/posts/2017/Apr/27/IIS-and-ASPNET-Core-Rewrite-Rules-for-Static-Files-and-Html-5-Routing -->
			<add name="StaticFileModuleHtml" path="*.htm*" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
			<add name="StaticFileModuleJs" path="*.js" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
			<add name="StaticFileModuleCss" path="*.css" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
			<add name="StaticFileModulePng" path="*.png" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
			<add name="StaticFileModuleXml" path="*.xml" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
			<add name="StaticFileModuleJson" path="*.json" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
			<add name="StaticFileModuleManifest" path="*.webmanifest" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
			<add name="StaticFileModuleIco" path="*.ico" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
			<add name="StaticFileModuleTxt" path="*.txt" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
			<add name="StaticFileModuleMap" path="*.map" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
		</handlers>
		<modules>
			<!-- Remove unused modules as per https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/modules?view=aspnetcore-3.1 for a small perf benefit -->
			<remove name="TokenCacheModule"/>
			<remove name="Session"/>
			<remove name="WindowsAuthenticatio"/>
			<remove name="FormsAuthentication"/>
			<remove name="DefaultAuthentication"/>
			<remove name="RoleManager"/>
			<remove name="UrlAuthorization"/>
			<remove name="FileAuthorization"/>
			<remove name="AnonymousIdentification"/>
			<remove name="Profile"/>
			<remove name="UrlMappingsModule"/>
			<remove name="UrlRoutingModule-4.0"/>
			<remove name="ScriptModule-4.0"/>
		</modules>
	</system.webServer>
</configuration>
