# See https://docs.microsoft.com/en-us/aspnet/core/fundamentals/url-rewriting?view=aspnetcore-3.1#url-redirect

RewriteEngine On

# Remove index.html from paths
RewriteRule ^(.*)index\.html$ $1 [L,R=301]

# Old style pages to new nested, kebab-case pages
RewriteRule ^/whatsnew /whats-new/ [L,R=301]
RewriteRule ^/development /about/development/ [L,R=301]
RewriteRule ^/clinicalspeciality /specialities/ [L,R=301]
RewriteRule ^/clinical_topics /topics/ [L,R=301]

# Topics with 'and' in the name don't have 'and' in the URL for the new site
RewriteRule ^/anaemia-b12-and-folate-deficiency /topics/anaemia-b12-folate-deficiency/ [L,R=301]
RewriteRule ^/angio-oedema-and-anaphylaxis /topics/angio-oedema-anaphylaxis/ [L,R=301]
RewriteRule ^/benzodiazepine-and-z-drug-withdrawal /topics/benzodiazepine-z-drug-withdrawal/ [L,R=301]
RewriteRule ^/bites-human-and-animal /topics/bites-human-animal/ [L,R=301]
RewriteRule ^/boils-carbuncles-and-staphylococcal-carriage /topics/boils-carbuncles-staphylococcal-carriage/ [L,R=301]
RewriteRule ^/bone-and-soft-tissue-sarcoma-recognition-and-referral /topics/bone-soft-tissue-sarcoma-recognition-referral/ [L,R=301]
RewriteRule ^/brain-and-central-nervous-system-cancers-recognition-and-referral /topics/brain-central-nervous-system-cancers-recognition-referral/ [L,R=301]
RewriteRule ^/breast-cancer-recognition-and-referral /topics/breast-cancer-recognition-referral/ [L,R=301]
RewriteRule ^/burns-and-scalds /topics/burns-scalds/ [L,R=301]
RewriteRule ^/cervical-cancer-and-hpv /topics/cervical-cancer-hpv/ [L,R=301]
RewriteRule ^/child-maltreatment-recognition-and-management /topics/child-maltreatment-recognition-management/ [L,R=301]
RewriteRule ^/childhood-cancers-recognition-and-referral /topics/childhood-cancers-recognition-referral/ [L,R=301]
RewriteRule ^/conduct-disorders-in-children-and-young-people /topics/conduct-disorders-in-children-young-people/ [L,R=301]
RewriteRule ^/contraception-barrier-methods-and-spermicides /topics/contraception-barrier-methods-spermicides/ [L,R=301]
RewriteRule ^/corticosteroids-topical-skin-nose-and-eyes /topics/corticosteroids-topical-skin-nose-eyes/ [L,R=301]
RewriteRule ^/cvd-risk-assessment-and-management /topics/cvd-risk-assessment-management/ [L,R=301]
RewriteRule ^/depression-antenatal-and-postnatal /topics/depression-antenatal-postnatal/ [L,R=301]
RewriteRule ^/diarrhoea-prevention-and-advice-for-travellers /topics/diarrhoea-prevention-advice-for-travellers/ [L,R=301]
RewriteRule ^/domestic-violence-and-abuse /topics/domestic-violence-abuse/ [L,R=301]
RewriteRule ^/fungal-skin-infection-body-and-groin /topics/fungal-skin-infection-body-groin/ [L,R=301]
RewriteRule ^/gastrointestinal-tract-lower-cancers-recognition-and-referral /topics/gastrointestinal-tract-lower-cancers-recognition-referral/ [L,R=301]
RewriteRule ^/gastrointestinal-tract-upper-cancers-recognition-and-referral /topics/gastrointestinal-tract-upper-cancers-recognition-referral/ [L,R=301]
RewriteRule ^/gingivitis-and-periodontitis /topics/gingivitis-periodontitis/ [L,R=301]
RewriteRule ^/gynaecological-cancers-recognition-and-referral /topics/gynaecological-cancers-recognition-referral/ [L,R=301]
RewriteRule ^/haematological-cancers-recognition-and-referral /topics/haematological-cancers-recognition-referral/ [L,R=301]
RewriteRule ^/hand-foot-and-mouth-disease /topics/hand-foot-mouth-disease/ [L,R=301]
RewriteRule ^/head-and-neck-cancers-recognition-and-referral /topics/head-neck-cancers-recognition-referral/ [L,R=301]
RewriteRule ^/hiv-infection-and-aids /topics/hiv-infection-aids/ [L,R=301]
RewriteRule ^/insect-bites-and-stings /topics/insect-bites-stings/ [L,R=301]
RewriteRule ^/lung-and-pleural-cancers-recognition-and-referral /topics/lung-pleural-cancers-recognition-referral/ [L,R=301]
RewriteRule ^/mastitis-and-breast-abscess /topics/mastitis-breast-abscess/ [L,R=301]
RewriteRule ^/melanoma-and-pigmented-lesions /topics/melanoma-pigmented-lesions/ [L,R=301]
RewriteRule ^/meningitis-bacterial-meningitis-and-meningococcal-disease /topics/meningitis-bacterial-meningitis-meningococcal-disease/ [L,R=301]
RewriteRule ^/palliative-care-nausea-and-vomiting /topics/palliative-care-nausea-vomiting/ [L,R=301]
RewriteRule ^/pre-conception-advice-and-management /topics/pre-conception-advice-management/ [L,R=301]
RewriteRule ^/psychosis-and-schizophrenia /topics/psychosis-schizophrenia/ [L,R=301]
RewriteRule ^/scrotal-pain-and-swelling /topics/scrotal-pain-swelling/ [L,R=301]
RewriteRule ^/skin-cancers-recognition-and-referral /topics/skin-cancers-recognition-referral/ [L,R=301]
RewriteRule ^/sleep-disorders-shift-work-and-jet-lag /topics/sleep-disorders-shift-work-jet-lag/ [L,R=301]
RewriteRule ^/sprains-and-strains /topics/sprains-strains/ [L,R=301]
RewriteRule ^/stroke-and-tia /topics/stroke-tia/ [L,R=301]
RewriteRule ^/urological-cancers-recognition-and-referral /topics/urological-cancers-recognition-referral/ [L,R=301]
RewriteRule ^/venous-eczema-and-lipodermatosclerosis /topics/venous-eczema-lipodermatosclerosis/ [L,R=301]
RewriteRule ^/vitamin-d-deficiency-in-adults-treatment-and-prevention /topics/vitamin-d-deficiency-in-adults-treatment-prevention/ [L,R=301]
RewriteRule ^/warts-and-verrucae /topics/warts-verrucae/ [L,R=301]
RewriteRule ^/whitlow-staphylococcal-and-herpetic /topics/whitlow-staphylococcal-herpetic/ [L,R=301]

# CKS-406 Fixes issue with slashes in topic names
RewriteRule ^/topics/contraception-ius/iud/ /topics/contraception-ius-iud/ [L,R=301]
RewriteRule ^/topics/nausea/vomiting-in-pregnancy/ /topics/nausea-vomiting-in-pregnancy/ [L,R=301]
RewriteRule ^/topics/polycythaemia/erythrocytosis/ /topics/polycythaemia-erythrocytosis/ [L,R=301]
RewriteRule ^/topics/tiredness/fatigue-in-adults/ /topics/tiredness-fatigue-in-adults/ [L,R=301]

# CKS-406 Renamed topics
RewriteRule ^/cows-milk-protein-allergy-in-children /topics/cows-milk-allergy-in-children/ [L,R=301]
RewriteRule ^/scrotal-swellings /topics/scrotal-pain-swelling/ [L,R=301]
