@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

.body {
  margin-bottom: utils.rem(spacing.$large);

  > :first-child {
    margin-top: 0;
  }

  @include media-queries.mq($from: md) {
    margin-bottom: 0;
  }
}
