@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.landingSection {
  border-bottom: 1px solid colours.$border;
  margin-bottom: utils.rem(spacing.$medium);
  padding-bottom: utils.rem(spacing.$medium);
}

.lastLandingSection {
  margin-bottom: utils.rem(spacing.$large);
}

.landingHeading {
  @include typography.font-size(h3);
  margin-top: 0;
}

.landingList {
  list-style: none;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 0;

  li {
    display: block;
    padding: utils.rem(spacing.$small) 0;
  }

  a {
    display: block;
  }

  @include media-queries.mq($from: sm) {
    a {
      padding-right: utils.rem(spacing.$medium);
    }

    li {
      float: left;
      width: 50%;

      &:nth-child(2n + 1) {
        clear: left;
      }
    }
  }

  @include media-queries.mq($from: md) {
    li {
      width: 33.33%;

      &:nth-child(2n + 1) {
        clear: none;
      }

      &:nth-child(3n + 1) {
        clear: left;
      }
    }
  }

  // Grid is nicer than the floats above, because:
  // it's shorter/more elegant and doesn't need the overflow hidden to clear the floats
  // But IE11 doesn't do grids so we need the floats fallback
  @supports (display: grid) {
    @include media-queries.mq($from: sm) {
      display: grid;
      column-gap: utils.rem(spacing.$medium);
      grid-template-columns: repeat(2, 1fr);
      overflow: visible;
      row-gap: utils.rem(spacing.$medium);

      a {
        padding: 0;
      }

      li {
        padding: 0;
        width: auto;
      }
    }

    @include media-queries.mq($from: md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
