@use '@nice-digital/nds-core/scss/colours/tokens/global';

// These styles have basically been robbed directly from the cookie-control
// third party script, so that the notice appears in exactly the same place
.portal {
  background: white;
  bottom: 0;
  left: 0;
  max-width: 66ch;
  overflow-y: auto;
  padding: 24px;
  position: fixed;
  top: 0;
  width: 90%;
  z-index: 99999;
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
  inset: 0;
  position: fixed;
  z-index: 99998;
}
