@import '~@nice-digital/nds-core/scss/core.scss';

.list {
  background: $nds-colour-true-white;
  border: 1px solid $nds-colour-border;
  list-style: none;
  margin: 0;
  padding: rem($nds-spacing-x-small 0);

  li {
    break-inside: avoid;
    display: block;
    padding: rem($nds-spacing-x-small) 0; // Make room for the anchor focus outline
  }

  a {
    display: block;
    padding: rem($nds-spacing-x-small $nds-spacing-medium);
  }

  @include mq($from: sm) {
    column-count: 2;
    column-gap: rem($nds-spacing-medium);
  }

  @include mq($from: md) {
    column-count: 3;
    column-gap: rem($nds-spacing-medium);
  }
}
