@import '~@nice-digital/nds-core/scss/core.scss';

.base {
  list-style: none;
  margin: 0;

  li {
    break-inside: avoid;
    display: block;
    padding: rem($nds-spacing-small) 0; // Make room for the anchor focus outline
  }

  a {
    display: block;
  }

  column-gap: rem($nds-spacing-medium);
}

.boxed {
  composes: base;
  background: $nds-colour-true-white;
  border: 1px solid $nds-colour-border;

  a {
    padding: rem($nds-spacing-x-small $nds-spacing-medium);
  }

  @include mq($from: md) {
    column-count: 2;
  }

  @include mq($from: lg) {
    column-count: 3;
  }
}

.plain {
  composes: base;

  @include mq($from: sm) {
    column-count: 2;
  }
}
