@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

.wrapper {
  margin: utils.rem(0 0 spacing.$large);
}

.toggleButton {
  appearance: none;
  background: colours.$panel-default-background;
  border: 1px solid colours.$border;
  color: colours.$link;
  cursor: pointer;
  display: block;
  line-height: 1;
  margin: 0;
  padding: utils.rem(
    spacing.$medium spacing.$large spacing.$medium spacing.$small
  );
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;

  &:visited {
    color: colours.$link;
  }

  &:focus {
    @include focus.default-focus-style;
    z-index: 1;
  }

  + :global(.stacked-nav) {
    display: none;

    // Non-JS fallback
    &:target {
      display: block;
    }
  }

  &[aria-expanded='false'] + :global(.stacked-nav) {
    display: none;
  }

  &[aria-expanded='true'] {
    border-bottom: 0;

    .icon {
      transform: translateY(-50%) rotate(180deg);
    }

    + :global(.stacked-nav) {
      display: block;
    }
  }

  @include media-queries.mq($from: sm) {
    display: none;
  }
}

@include media-queries.mq($from: sm) {
  :global(.stacked-nav) {
    display: block !important;
  }
}

.icon {
  color: colours.$link;
  right: utils.rem(spacing.$small);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.25s ease;
}
