@import '~@nice-digital/nds-core/scss/core.scss';

.wrapper {
  margin: rem(0 0 $nds-spacing-large);
}

.toggleButton {
  appearance: none;
  background: $nds-colour-nice-grey-3;
  border: 1px solid $nds-colour-border;
  color: $nds-colour-link;
  cursor: pointer;
  display: block;
  line-height: 1;
  margin: 0;
  padding: rem(
    $nds-spacing-medium $nds-spacing-large $nds-spacing-medium
      $nds-spacing-small
  );
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;

  &:visited {
    color: $nds-colour-link;
  }

  &:focus {
    @include nds-default-focus-style;
    z-index: 1;
  }

  + :global(.stacked-nav) {
    display: none;

    // Non-JS fallback
    &:target {
      display: block;
    }
  }

  &[aria-expanded='false'] + :global(.stacked-nav) {
    display: none;
  }

  &[aria-expanded='true'] {
    border-bottom: 0;

    .icon {
      transform: translateY(-50%) rotate(180deg);
    }

    + :global(.stacked-nav) {
      display: block;
    }
  }

  @include mq($from: sm) {
    display: none;
  }
}

@include mq($from: sm) {
  :global(.stacked-nav) {
    display: block !important;
  }
}

.icon {
  color: $nds-colour-link;
  right: rem($nds-spacing-small);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.25s ease;
}
