$nds-include-spacing-modifiers: false;

@import '~@nice-digital/design-system/scss/base.scss';


html {
  scroll-behavior: smooth;

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}
