$nds-include-spacing-modifiers: false;
$nds-output-text-classes: false;
$nds-output-visibility-classes: false;

@import '~@nice-digital/design-system/scss/base.scss';

html {
  scroll-behavior: smooth;

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

// $nds-output-visibility-classes stops visually-hidden being output
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
