$nds-include-spacing-modifiers: false;
$nds-output-text-classes: false;
$nds-output-visibility-classes: false;

@import '~@nice-digital/design-system/scss/base.scss';

// Markup components
@import './tables';

html {
  overflow-x: visible; // Override the overflow from NDS, otherwise position sticky doesn't work
  scroll-behavior: smooth;

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

body {
  // We're using font-display for Google fonts loading so on a slow connection you see FOUT
  // Trebuchet is closer to Lato than Arial and supported on 97-99.7% of devices (https://www.cssfontstack.com/Trebuchet-MS)
  // so gives less of a jump when the font swaps.
  // We use Roboto for Android devices
  font-family: 'Lato', 'Trebuchet MS', 'Roboto', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
}

// $nds-output-visibility-classes stops visually-hidden being output
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

#content-start:focus {
  outline: none;
}
