@import '~@nice-digital/nds-core/scss/core.scss';

.wrapper {
  margin-bottom: rem($nds-spacing-large);
}

.heading {
  margin-top: 0;
}

.rootList {
  list-style: disc;
}

.subList {
  list-style: circle;
}

// Basis for recommendation links are 'noise' when the 'on this page' nav is
// all expanded by default, so only show them when the nav sticks
.basisForRecs {
  display: none;
}

@include mq($from: md) {
  .heading {
    @include nds-font(h4);
    margin-top: 0;
  }

  @supports (position: sticky) {
    .rootList {
      a {
        &[aria-current='location'] {
          font-weight: bold;
        }

        &:focus + .subList {
          @include nds-invisible-off;
        }
      }
    }

    .subList {
      @include nds-invisible;

      &:focus-within {
        @include nds-invisible-off;
      }
    }

    .expandedSubList {
      @include nds-invisible-off;
    }

    .basisForRecs {
      display: list-item;
    }
  }
}
