@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/visibility';

.wrapper {
  margin-bottom: utils.rem(spacing.$large);
}

.heading {
  margin-top: 0;
}

.rootList {
  list-style: disc;
}

.subList {
  list-style: circle;
}

// Basis for recommendation links are 'noise' when the 'on this page' nav is
// all expanded by default, so only show them when the nav sticks
.basisForRecs {
  display: none;
}

@include media-queries.mq($from: md) {
  .heading {
    @include typography.font(h4);
    margin-top: 0;
  }

  @supports (position: sticky) {
    .rootList {
      a {
        &[aria-current='location'] {
          font-weight: bold;
        }

        &:focus + .subList {
          @include visibility.invisible-off;
        }
      }
    }

    .subList {
      @include visibility.invisible;

      &:focus-within {
        @include visibility.invisible-off;
      }
    }

    .expandedSubList {
      @include visibility.invisible-off;
    }

    .basisForRecs {
      display: list-item;
    }
  }
}
