@forward '@nice-digital/design-system/scss/base' with (
  $include-spacing-modifiers: false,
  $output-text-classes: false,
  $output-visibility-classes: false
);
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/visibility';

html {
  overflow-x: visible; // Override the overflow from NDS, otherwise position sticky doesn't work
  scroll-behavior: smooth;
  scroll-padding-bottom: utils.rem(spacing.$xx-large);

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

body {
  position: relative;
}

// $nds-output-visibility-classes stops visually-hidden being output
.visually-hidden {
  @include visibility.invisible;
}

#content-start:focus {
  outline: none;
}

footer {
  margin-top: 0 !important;
}
